*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body{
  max-width: 1920px;
}
body>section{
  display: flex;
  justify-content: space-between;
  height: 6.35em; 
  align-items: center;
}
section>h1{
  margin-left:14.2vw;
  font-size: 1.3em;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #55555A;
}
nav{
  margin-right: 12.9vw;
  width: 25%;
  display: flex;
  justify-content: space-around;
}
nav>a{
  margin-right: 1em;
  text-decoration: none;
  font-size: 1.1em;
  color: #55555A; 
  letter-spacing: 0.09em;
}
nav>a:hover{
  color: #BFBA9C;
}
header{
  margin-bottom: 13.8vh;
  height: 98.5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; 
}
header>div{
  position: absolute;
  top:10.5vh;
  left: 0;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h2{
  margin-top:20.25%;
  color:#fff;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -.02em;
}
h3{
  margin-top:1.1%;
  color: #BFA929;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.16em;
} 
button{
  outline: none;
  border: none;
  color: #55555A; 
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
}
button:hover{
  background-color: rgb(170, 170, 170);
}
div>button{
  margin-top: 3.1%;
  font-size: .8em;
  letter-spacing: .12em;
  text-transform: uppercase; 
  padding: 18px 29px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main>div{
  width: 58.6vw;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-bottom: 10.55vh;
}
main>div>img{
 width: 100%;
}
h4{
  padding-top:4.2vh;
  font-size: 1.67vw;
  letter-spacing: -0.01em;
}
main>div:nth-child(even)>article>h4+p::before{
  background-image: url(../img/author-image2.jpg);
}
main>div:nth-child(odd)>article>h4+p::before{
  background-image: url(../img/author-image1.jpg);
}
h4+p::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  position: relative;
  top: 20px;
  left: 0;
  margin-right: 10px;
}
article>p{
  font-family:'Lora', serif;
  color: #55555A; 
}
article>p:nth-child(2){
  font-size: 1.15em;
  transform: translate(0,-5%);
  letter-spacing: -0.01em;
}
article>p>span{
  font-family:'Lora', serif; 
  padding-left: 1.1em;
}
article>p:nth-child(3){
  padding-top:37px;
  font-size: 1.12em;
  letter-spacing: 0.0125em;
  line-height: 1.75em;
}
i{
  padding: 0 4px 0 19px;
  color: #55555A;
}
article>button{
  border: 1px solid #777;
  font-size: 1em;
  letter-spacing: .05em;
  margin: 43px 0 75px;
  padding: 18px 34px;
}
main>div:last-child{
  border: none;
  margin-bottom: 6.3vh;
}
footer{
  display: flex;
  justify-content: space-around;
  color:#fff;
  background-color: black;
  height: 425px;
}
footer>section{
 width: 28%;
}
footer>section:first-child{
  margin-left: 15.9vw;
}
h5{
  padding: 6vw 0 .8vw 0;
  font-size: 2.05em;
  letter-spacing: -0.035em;
  font-weight: 900;
}
footer>section>p{
  font-size: 1.08em;
  letter-spacing: 0.03em;
  line-height: 1.82em;
  padding-bottom: 1.5em;
  font-family:'Lora', serif;
  color:rgb(114, 110, 110) ;
}
footer>section:last-child{
  padding-right: 10.5vw;
}
address{
  color:rgb(114, 110, 110) ;
  font-style: normal;
  display: flex;
  flex-direction: column;
  line-height: 2.8em;  
}
section>p>span{
  height: 10px;
  vertical-align: -10%;
}
footer>section:last-child>h5{
  padding: 6vw 0 .3vw 0;
}
address>span{
  font-size: 1.1em;
  letter-spacing: 0.015em;
  line-height: 4.6vh;
  font-family:'Lora', serif;
}